body
{
	margin:0;
	padding: 0;
	background-color: black;


}
.menu
{
	position: fixed;
	top: 15px;
	right: 5px;
	height: 50px;
	background-color: transparent;
}
.menu ul
{
	list-style: none;
	margin:0;
	padding: 0;
}
.menu ul li
{
	display: inline-block;
	margin: 1px 25px;


}
.menu ul li a
{
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 20px;
	line-height: 35px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: 5px 10px;
	transition: .9s ease;

}
.menu ul li a:hover
{
	background-color: #fff;
	color: black;
}
.slider
{
	width: 400px;
	height: 600px;
	background-color: #fff;
	position: absolute;
	top: 100px;
	left: -410px;
	padding: 50px 0 0 20px;
	transition: 1s ease;
	z-index: 10;

}
.slider:hover 
{
	margin-left: 410px;
}
.slider h1
{
	font-family: impact;
	font-size: 50px;
	margin: 10px 0;
	display: inline;
	transition: .2s ease;
}
.slider form 
{
	font-size: 25px;
}
.slider form input
{
	font-size: 20px;
	box-shadow: 0 0 20px black;
	box-shadow: 0 0 40px black;
	box-shadow: 0 0 60px black;
	transition: .4s ease;
}
.slider form input:hover
{
	box-shadow: 0 0 80px black;
	box-shadow: 0 0 100px skyblue;
	box-shadow: 0 0 120px blue;
}
.slider h1:hover
{
	font-size: 52px;
}
.arrow
{
	position: absolute;
	top: 400px;
	left: 20px;
	width: 100px;
	height: 50px;
}
/*.loader
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	height: 200px;
	border: 3px solid white;
	animation: animate 3s linear infinite;
}
.loader:before
{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	background-color: white;
	animation: animatebg 3s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	25%
	{
		transform: translate(-50%,-50%) rotate(180deg);
	}
	50%
	{
		transform: translate(-50%,-50%) rotate(180deg);
	}
	75%
	{
		transform: translate(-50%,-50%) rotate(360deg);
	}
	100%
	{
		transform: translate(-50%,-50%) rotate(360deg);
	}
}

@keyframes animatebg
{
	0%
	{
		height: 0%;
	}
	25%
	{
		height: 0%;
	}
	50%
	{
		height: 100%;
	}
	75%
	{
		height: 100%;
	}
	100%
	{
		height: 0%;
	}
}*/

